* {
    font-family: Arial;
}

body {
    background: rgb(160, 156, 156);
    margin: 0%;
    color: white;

}

.head-zack {
    margin-left: 15px;
    

}
.container {
    width: 80%;
    margin:0%;
}

header {
    background: black;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
   margin: 0%;
   padding: 0%;
   list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(0, 187, 255);
    text-decoration: overline;
}